.app__logo-container {
    display: flex;
    align-items: center;
    margin: 10px 5px 0;
    padding: 0;
}

.app__logo {
    position: relative;
    width: 70px;
    height: 70px;
}

.app__logo-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.app__title {
    margin: 0;
    font-size: 24px;
    color: #3b5998;
}
